@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia.ttf") format("truetype"),
}

/*@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/Arial.ttf") format("truetype"),
}*/