@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --blue: #00AFDB;
    --dark: #373737;
    --dark-grey: #4E4E4E;
    --light-greu: #B2B2B2; /*#7D7D7D;*/
}

* {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /*width: 1600px;*/
    color: white;
}

.test {
    border: 1px solid red;
}

/**/
/*-----------HEADER-----------*/
/**/

header {
    display: flex;
    justify-content: center;
}

.nav {
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    position: absolute;

    /*width: 100%;*/
}

.nav-list {
    display: inline-flex;
    align-items: center;

    list-style-type: none;

    margin-top: 25px;
    /*padding: 0px;*/
}

.nav-list-element {
    padding: 0 85px;

    font-size: 14px;
}

.leftmost-nav-element {
    padding: 0;
}

.rightist-list-element {
    padding: 0;
}

.logo {
    padding: 0 15px;
}

.white-link {
    text-decoration: none;
    color: white;
}

/**/
/*-----------YOUR LIFE-----------*/
/**/

.your-life {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1600px;
    height: 744px;

    background-image: url("./assets/bg-image.png");
    background-position: center;
    color: white;
}

.your-life-heading {
    display: flex;
    align-items: flex-end;
    margin-top: 230px;

    font-size: 64px;
    font-weight: bold;
    letter-spacing: 4px;
    word-spacing: 2px;
    text-transform: uppercase;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 460px;
    margin-top: 20px;
    margin-bottom: 30px;

    font-size: 18px;
    line-height: 1.4;
    text-align: center;
}

.btn-main-box {
    display: flex;
    align-items: flex-end;
    height: 54px;
}

.btn-main {
    width: 184px;
    height: 46px;

    font-size: 14px;
    font-weight: bold;

    cursor: pointer;
    color: inherit;
    border: none;
    background-color: var(--blue);
}

.links-box {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 170px;
    padding-top: 183px;
    padding-bottom: 90px;
}

.icon-link {
    padding: 0 15px;
}

/**/
/*-----------RAPPRESENT-----------*/
/**/

.rappresent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1600px;
    height: 744px;
}

.left-rappresent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 924px;
    /*margin-left: 2px;*/
}

.right-rappresent {
    display: flex;
    align-items: flex-start;
    width: 676px;

}

h2 {
    text-transform: uppercase;
}

.dark-bold-h2 {
    width: 378px;
    letter-spacing: 1px;
    word-spacing: 1px;

    color: var(--dark);
}

.rappresent-text {
    width: 466px;

    color: var(--dark);
    /*line-height: 1.4;*/

    margin-top: 20px;
    margin-bottom: 30px;
}

/**/
/*-----------OUR COMMUNITY-----------*/
/**/

.our-community {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1600px;
    height: 504px;

    background-color: #F5F6F7;
}

.left-community {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 706px;
}

.citation-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dark-medium-h2 {
    letter-spacing: 1px;
    word-spacing: 1px;

    color: var(--dark);
    font-weight: bold;
    /*сделать medium!!!*/
    font-size: 16;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
}

.community-text {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 340px;
    color: var(--dark-grey);

    text-align: center;
    line-height: 1.4;
}

.right-community {
    width: 894px;
}

.slider-btn-box {
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/ 
    margin-bottom: 20px;
    margin-left: 469px;

    color: var(--dark);
}

.btn-arrow {
    background-color: transparent;
    border: none;
}

.arrow svg path:hover{
    stroke: var(--dark-grey);
    cursor: pointer;
}

.arrow:hover{
    cursor: pointer;
}

.left-number-slider {
    margin-left: 14px;
    margin-right: 4px;
    font-size: 18px;
}

.right-number-slider {
    margin-left: 4px;
    margin-right: 14px;
    font-size: 18px;
}

.slider-img-box {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.middle-slider-img {
    margin: 0 30px;
}

.cutted-img-box {
    width: 20px;
    height: 244px;
    position: relative;
    overflow: hidden;
}

.cutted-img {
    position: absolute;
    margin-right: -387px
}