/*not-only-section*/

.left-not-only {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 502px;

  & div {
    display: flex;
    flex-direction: column;
    height: 322px;
    max-width: 460px;
  }
}

.not-only-header {
  width: 310px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 44px;
  color: $color-light-xl;
}

.not-only-text {
  height: 72px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: $color-dark-s;
}

.right-not-only {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  max-height: 100%;
  max-width: 698px;

  & img {
    max-width: 100%;
    max-height: 100%;
  }
}

//////////
//////////
//////////

/*.about-section*/

.left-about {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 595px;

  & div {
    max-width: 345px;
  }
}

.right-about {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 605px;

  & div {
    flex-direction: column;
    max-width: 430px;
  }
}

.about-header {
  max-width: 370px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  color: $color-dark-l;
}

.about-text {
  display: flex;
  max-width: 430px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: $color-dark-xl;
}