/*not-only-section*/

/*.left-not-only {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 502px;

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //height: 321px;
    max-width: 460px;
  }
}

.content{
  margin-top: 99px;
}

.not-only-header {
  //display: flex;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 44px;
  line-height: 130%;
  color: $color-light-xl;

  div {
    max-width: 310px;
    height: 114px;
  }
}

.not-only-text {
  width: 460px;
  height: 72px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 160%;
  color: $color-dark-s;
}

.not-only-btn {
  justify-content: flex-end;
  height: 52px;
}

.right-not-only {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  max-width: 698px;
}*/


.not-only-content {
  display: flex;
  height: 908px;
  //width: 100%;
  max-width: 1200px;
}

.left-not-only {
  display: flex;
  align-items: center;
  justify-content: space-between;
  //height: 321px;
  max-width: 460px;
}

.left-not-only-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 321px;
  max-width: 460px;
  margin-top: 99px;

  .primary-btn {
    width: 207px;
  }
}

.not-only-header {
  max-width: 310px;

  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 44px;
  line-height: 130%;
  color: $color-light-xl;
}

.not-only-text {
  width: 460px;
  height: 72px;

  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 160%;
  color: $color-dark-s;
}

.right-not-only {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  max-width: 698px; //740
  margin-left: 42px;
}


//////////
//////////
//////////
/*.about-section*/

/*.left-about {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 595px;

  & div {
    max-width: 345px;
  }
}

.right-about {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 605px;
  height: 380px;

  & div {
    justify-content:space-between;
    flex-direction: column;
    max-width: 430px;
    height: 380px;
  }
}

.about-header {
  display: flex;
  max-width: 370px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  color: $color-dark-l;
}

.about-text {
  display: flex;
  max-width: 430px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: $color-dark-xl;
}*/

.about-content {
  display: flex;
  align-items: center;
  height: 408px;
  //width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
}

.left-about {
  display: flex;
  justify-content: flex-end;
  width: 475px;
  margin-right: 120px;
}

.right-about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 605px;
  height: 380px;
}

.about-header {
  width: 370px;

  font-family: Georgia, Times, serif;
  font-size: 35px;
  letter-spacing: 0.06em;
  line-height: 130%;
  color: $color-dark-l;
}

.about-text {
  width: 430px;

  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 160%;
  color: $color-dark-xl;
}

//////////
//////////
//////////
/*.about-section*/

.our-friends-header-box {
  align-items: flex-end;
  width: 400px;
  height: 170px;
}

.our-friends-header {
  height: 90px;
  width: 400px;

  font-family: Georgia, serif;
  font-size: 35px;
  letter-spacing: 0.06em;
  line-height: 130%;
  color: $color-dark-l;
  text-align: center;
  vertical-align: bottom;
}

.primary-btn-box {
  height: 52px;
  width: 261px;
  margin-bottom: 100px;
}

.our-friends-slider .secondary-btn img {
  margin-bottom: 2px;
}


//////////
//////////
//////////
/*help-section*/

.help-header-box {
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  height: 150px;

  vertical-align: top;
}

.help-header {
  width: 310px;
  height: 90px;

  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: $color-dark-l;
  text-align: center;
  vertical-align: bottom;
}

.help-conent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 119px;
  row-gap: 55px;
  max-width: 1026px;
  //width: 100%;
  height: 281px;
  margin-bottom: 21px;

  & div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 113px;

    div {
      display: flex;
      justify-content: flex-end;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 20px;
      line-height: 115%;
      letter-spacing: 0.06em;
      color: $color-dark-l;
    }
  }
}

//////////
//////////
//////////
/*in-addition-section*/

.donation-dog-box {
  justify-content: flex-end;
  align-items: flex-end;
  max-width: 505px;
  //width: 100%;
  //padding-right: 30px;
  margin-bottom: 17px;
  margin-right: 28px;
}

.in-addition-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 380px;
  height: 282px;
  margin-right: 1px;
  margin-bottom: 20px;
  //width: 100%;

  a {
    background-color: $color-primary;
    border-radius: 10px;
    margin-bottom: 1px;

    &:hover {
      cursor: pointer;
      border-color: $color-primary-light;
      background-color: $color-primary-light;
    }
  }
}

.in-addition-header {
  //justify-content: flex-start;
  width: 300px;
  height: 90px;
  padding-top: 2px;

  font-family: Georgia, serif;
  font-size: 35px;
  line-height: 129%;
  letter-spacing: 0.06em;
  color: $color-dark-l;
  text-align: left;
  vertical-align: bottom;
}

.in-addition-subheader {
  width: 310px;
  height: 17px;

  font-family: Georgia, serif;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: $color-dark-l;
  /*text-align: center;
  vertical-align: bottom;*/
}

.credit-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 349px;
  height: 43px;

  picture {
    margin-top: 3px;
    margin-left: 15px;
  }

  div {
    margin-right: 15px;

    font-family: Georgia, serif;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: $color-dark-l;
  }
}

.in-addition-text {
  max-width: 380px;
  font-family: Arial, serif;
  font-size: 12px;
  line-height: 150%;
  font-style: italic;
  color: #b2b2b2; //$color-dark-l; 
}